{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class= "about-page">
    <h1 id = "aboutheader"> How should you use the One Rep Max Calculator?</h1>
        <div id="aboutparagraph"
            <p> The concept of a One Rep Max Calculator is rather simple,
            put in a weight and the max amount of reps you can do with that weight. <br>
           
            </p> 

            <p> Many variables are involved in someone's one rep max, such as the amount of reps they can do,
                performing better with singles, performing better on sets with many repetitions, even things like what you eat before you lift can affect this.  <br><br>
                We are all different and are made of different muscle twitch fibers and leverages for the lifts.</p>

            <p>With that being said; this calculator will give you a very good estimate of where you stand.<br><br>Using this calculator in the 3-5 rep range is encouraged as the heavier the percentage of weight lifted, the more accurate the calculation becomes. </p>
                <div id = "proper-usage">
                    <ul> 
                        <h2>Recommended usage:</h2> 
                        <li>Find your 5 rep max in the lifts you want to calculate.</li>
                        <li>Make sure this is as close to a true 5 rep max as possible, be safe of course; but 0 to 1 rep left is ideal here.</li> 
                        <li>Take the calculated maxes to base your next cycles of training off of. </li>
                        <li>If you have been training a while and or know your body really well; you can give or take 10 to 20 pounds in either direction depending on how good you are at 1 Rep Maxes or Reps.</li>
                        <li>Train hard.</li>
                        <li>Eat good.</li>
                    </ul>
                    <br>
                <p>Good luck,
                    <br><br>
                    I hope you benefit from our website.
                    <br><br>
                    -Trapper 
                </p>
                </div>
            <br>
            </div>
    </div>


{% endblock %} 




















</html>




















